body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333333;
    
}

/*Navigation Bar */
.navbar{
    background-color: #e6e6fa;
    color: white;
}
.navbar-nav .nav-link{
    gap: 1.5rem;
}
.navbar-nav .nav-link {
    font size: 1.5rem:
}
.logo{
    width: 18vw;
    max-width: 12rem;
    min-width: 6rem;
    height:auto;
    text-align: center;
    display: block;
}

/* Hero Section */
.hero-section{
    background-color: #e6e6fa;
    padding: 10rem 0;
}
    
.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color:#4b3f72;
}

.hero-section p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #5c5470;
}


/*Service Cards */
.service-cards{
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 2rem;
    text-align: center;
}
.service-cards:hover{
    transform: translateY(-5px);
    transition: 0.3s;
}
.service-image{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}


/*Gallery Boxes */
.gallery-boxes{
    background-color:#f3f0ff;
    height: 15rem;
    border-radius: 1rem; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.gallery-image{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.gallery-image:hover{
    transform: scale(1.03);
}

/*Buttons */
.btn-dark{
    background-color: #6a5acd;
    border: none;
    padding: 0.8rem 2rem;
}

.btn-dark:hover{
    background-color: #4b3f72;
}

/*Footer */
.footer{
    background-color: #6a5acd;
    color:white
}